<div style="color:black">
    <h1>Contact information</h1>
</div>
<ul class="nav nav-pills navbar-inverse">
    <li role="presentation">
        <a [routerLink]="('/contacts/'+id+'/info')">Info</a>
    </li>
    <li role="presentation">
        <a [routerLink]="('/contacts/'+id+'/edit')">Edit</a>
    </li>
</ul>
<router-outlet></router-outlet>