    <div class="form-group" style="margin-top:2%">
        <input type="text" class="form-control" placeholder="Search contacts" name="searchText" [(ngModel)]="searchText">
    </div>
    <div class="container" style="margin-left:10%;">
        <div class="row">
                <div class="col-xs-3 thumbnail" style="margin-right:8px; background-color:#f1f0f0" *ngFor="let contact of contactsModel.contacts | filterPipe: searchText">
                    <div style="height:300px;width:auto">
                        <img [attr.src]="contact.profilepic" alt="profile" height="300px" width="282px">
                    </div>
                    <div class="caption">
                        <h3 style="text-align:center">{{contact.firstname}} {{contact.lastname}}</h3>
                        <p>Age: {{contact.age}}</p>
                        <p>Birthdate: {{contact.birthdate | date: "dd.MM.yyyy"}}</p>
                        <p>
                            <a class="btn btn-primary" role="button" (click)="openContact(contact.id)">Open</a>
                        </p>
                    </div>
                </div>
            </div>
    </div>






<!-- 
<table id="example" class="table table-striped table-bordered" style="width:100%">
<thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Birthdate</th>
        <th>Profile pic</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let contact of contactsModel.contacts | filterPipe: searchText ">
      <td style="text-align:center;line-height: 10;"><button type="button" class="btn btn-primary" (click)="openContact(contact.id)">Open</button></td>
      <td>{{contact.id}}</td>
      <td>{{contact.firstname}}</td>
      <td>{{contact.lastname}}</td>
      <td>{{contact.age}}</td>
      <td>{{contact.birthdate |  date: "dd.MM.yyyy"}}</td>
      <td style="text-align:center"><img [attr.src]="contact.profilepic" height="150px" width="150px"></td>
  </tr>
  </tbody>
</table> -->