<div class="container">
    <div class="col-xs-6 contactCard">
        <div class="col-xs-8">
            <h3>#
                <b>{{id}}</b>
            </h3>
            <h4>First name:
                <b>{{firstName}}</b>
            </h4>
            <h4>Last name:
                <b>{{lastName}}</b>
            </h4>
            <h4>Age:
                <b>{{age}}</b>
            </h4>
            <h4>Birthdate:
                <b>{{birthdate | date: "dd.MM.yyyy"}}</b>
            </h4>
            <h5>
                Dodat:
            </h5>
            <div class="col-xs-6">
                <button type="button" class="btn btn-success" (click)="editContact()">Edit</button>

                <button type="button" class="btn btn-danger" (click)="deleteContact()">Delete</button>
            </div>
        </div>
        <div class="col-xs-4">
            <img [attr.src]="profilePic" height="150px" width="150px">
        </div>


    </div>

</div>

<div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to save changes you made to document before closing?</p>
                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>