<div class="col-md-12">
    <h3>Are you sure you want to delete <b>Contact - {{id}}</b>?</h3>
    <button class="btn btn-warning" (click)="deleteContact()">Yes</button>
    <button class="btn btn-primary" routerLink="/contacts">No</button>
</div>  