<div class="container">
    <h1>New Contact</h1>
    <form [formGroup]="newContactForm">
      <div class="col-xs-4">
          <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" placeholder="First name" formControlName="firstName" name="firstname" [(ngModel)]="contact.firstname">
            <div *ngIf="newContactForm.controls.firstName.invalid && submittedAtt" class="invalid-feedback">First name must be entered.</div>
        </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Surname</label>
            <input type="text" class="form-control" placeholder="Last name" formControlName="lastName" name="lastname" [(ngModel)]="contact.lastname">
            <div *ngIf="newContactForm.controls.lastName.invalid && submittedAtt" class="invalid-feedback">Last name must be entered.</div>
        </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Age</label>
            <input type="number" class="form-control" placeholder="Age" formControlName="age" name="age">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Birthdate</label>
                <my-date-picker name="birthdate" [options]="myDatePickerOptions"
                formControlName="birthdate"></my-date-picker>
        </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Profile picture</label>
              <input type="text" class="form-control" placeholder="Profile pic link" formControlName="profilePic" name="profilepic " [(ngModel)]="contact.profilepic">
          </div>
          <div class="form-group">
                <button type="submit" class="btn btn-primary mb-2" (click)="addContact()">Save</button>
            </div>
        </div>
    </form>
    
</div>
 <!-- <div class="form-group col-xs-6">
              <label for="exampleFormControlInput1">Birthdate</label>
            <input type="text" class="form-control" placeholder="Birthdate" formControlName="birthdate" name= "birthdate" [(ngModel)]="contact.birthdate">
          </div> -->