/* You can add global styles to this file, and also import other style files */
.form-control.is-valid{
    border-color: green;
}
.form-control.is-invalid{
    border-color: red;
}
.valid-feedback{
    color: green;
}
.invalid-feedback{
    color: red;
}
.contactCard {
    background-color:#222;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #FFF;
}
.editContactCard{
    margin-top: 3%;
    color:white;
}