<form class="container editContactCard" [formGroup]="editContactForm">
    <div class="col-xs-6 ">
        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" name="firstname" placeholder="First Name" formControlName="firstname" >
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" formControlName="lastname" >
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control" name="age" placeholder="Age" formControlName="age" >
        </div>
    
        <div class="form-group">
            <label for="exampleFormControlInput1">Birthdate</label>
            <my-date-picker name="birthdate" [options]="myDatePickerOptions" formControlName="birthdate" ></my-date-picker>
        </div>
    
        <div class="form-group">
            <label>Profile pic</label>
            <input type="text" class="form-control" name="profilepic" placeholder="Profile pic link" formControlName="profilepic" >
        </div>
        <button type="submit" class="btn btn-primary" (click)="saveContact()">Edit</button>
    </div>
    
</form>